/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

.logo{
	width: 300px;
	margin: 20px auto 0;
	display: block;
	background-repeat: no-repeat;
}


/*********************
HEADER STYLES
*********************/
.meta-header{
		display: none;

	.social-header{
	}

	.client-search{

	}
}	

.site-branding{
    width:100%;
    margin: 2em 0;

    .site-title{
        margin: 0 auto;
        text-align: center;

        a{
            font-size: 200%;
            text-decoration: none
        }
    }
}


/*********************
ARCHIVE STYLES
*********************/


.archive-excerpt{
	position: relative;
}

.post-thumb{
	position: relative;
}

.post-thumb img{
	margin-bottom: 0;
	display: block;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: #eee;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid #333;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: #333;

      &:hover, &:focus {
      	background-color: #333;
      	color: #eee;
      }
    }

    .current{
    	cursor: default;
    	color: #333;

    	&:hover, &:focus {
    		background-color: #eee;
    		color: #333;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/*********************
FOOTER STYLES
*********************/

.footer {
	position: relative;
	z-index: 2;
	width: 100%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

	.inner-footer{
		padding-left: 2%;
		padding-right: 2%;
		background-color: #333;
		position: relative;
		z-index: 2;
		width: 100%;
	}

	.footer-credit{
		padding: .25em 1em;
		background-color: #333;
		color: #333;
		float: left;
		width: 100%;
	}

}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {

	}

	.privacy{
		margin-left: 1em;
	}



/*********************
SERVICES STYLES
*********************/

.service-footer{
	margin-bottom: 2.5em;
}

.service-section{
	margin-bottom: 2.5em;
	border-bottom: 1px solid #ddd;
}

.service-cta, .service-cta-mobile{
	margin-top: 2em;
	padding-bottom: 3.5em
}

.service-thumb img{
	float: left;
	width: 100%;
	margin: 0 1em .5em 0;
}

.center-thumb-text{
	text-align: center;
	position: absolute;
}

.service-footer-thumb img{
	width: 100%;
}

.service-footer-cap{
	text-align: center;
}

h3.service-footer-cap{
	margin-top: 0;
}


/*********************
SLIDESHOW STYLES
*********************/

.swiper-container {
    width: 100%;
    height: auto;
	margin-bottom: 2em;
}


.swiper-button-prev, .swiper-button-next{
	background-image: none!important;
	width: initial!important;
	opacity: .5;
}

.swiper-button-prev{
	left:20px!important;

	&:before {
		font-family: FontAwesome;
		content: "\f137";
		font-size: 200%;
	}
}

.swiper-button-next{
	right:20px!important;

	&:before {
		font-family: FontAwesome;
		content: "\f138";
		font-size:200%;
	}
}	

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	background-image: none;
}



/*********************
BADGES
*********************/

.badge-group {
    width: 100%;
    margin: 0 auto;
}

.badge{
	width: 47%;
	margin-right: 3%;
	float: left;
}

.badge img{
	width: 100%;
	height: auto;
}

.white-text{
	color:#fff;
}

.white-header{
	color:#fff;
	font-weight: bold;
}




/*********************
REVIEWS STYLES
*********************/

.reviews{
	float: left;
}

.quote-l, .quote-r{
    line-height: 50%;
	position: absolute;
}	

.quote-l{
    margin-left: -.5em;
    margin-top: .25em;
}

.quote-r{

    margin-right: -.5em;
    margin-top: .25em;
}

.handwrite{
	margin: 0;
	opacity: .6;
	text-align: right;
	width: 100%;
}


/**** REVIEW WIDGET ****/

.review-small{
	margin-bottom: 2em;
	float: left;


	.fa-star, .fa-star-half-o, .fa-star-o{
		color:#333;
	}

	.quote-small{
		width: 100%;
	}

	.stars{
		font-size: 80%;
	}

}


/*********************
CTA STYLES
*********************/

.table{
	display: table;
}

.table-row{
	display: table-row;
}

.table-col{
	display: table-cell;
}

.cta{
	background-color: #333;
	border-radius: 15px;
	padding: 1em;
}

.cta-title{
	color:#fff;
	margin: 0;
	border-bottom: 1px solid #fff;
	font-weight: bold;
}



.post-thumb-caption, .service-thumb-caption, p.wp-caption-text, .wp-caption-text.gallery-caption {
	position: absolute;
	opacity: 0;
}


.onehundredcenter{
	width: 90%;
	text-align: center;
	display: block;
	margin: 0 auto;

}



/*********************
SIDEBAR STYLES
*********************/

.round-thumb{
	border-radius: 100px;
	float: left;
    margin-right: 1em;
    width: 33%;
}

.related{
	margin: 0 0 1em 0;
}

.sidebar-title a{
	text-decoration: none;
}



/*********************
WIDGET STYLES
*********************/

.widget-contain, .widget-contain .menu-primary-menu-container{

	ul{
		list-style: none;
		margin:0;
		padding: 0;
		text-align: left; 


		li{
			margin: 0;
			padding:0;
		}
	}

}

.cta-widget{
	display: inline-block;
    width: 100%;
}


/*********************
 COMMENTS
*********************/

.comment{
	list-style: none;
	margin-bottom: 2em;
}

.comment-metadata{
	display: none;
}

.comment-content p{
	margin: 0;
}