.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
  p,
  .entry-header {
    max-width: 60ch;
    margin: 0 auto 1em;
  }
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.comments-area {
  margin: 5em 0;
  border-top: 1px solid #ddd;

  .comment-respond {
    margin: 5em auto 0;
    max-width: $content__width;
  }
}
